html, body, div, a, h1, h2, h3, p, img {
  margin:0;
  padding:0;
}
html {
  height: 100%;
}
body {
  display:flex;
  flex-direction:column;
  width:1200px;
  margin-left: auto;
  margin-right: auto;
  height:100vh;
}
.header {
  flex: 0 0;
  margin-top: 10px;
}

.header .logo-wrapper {
  display: flex;
  flex-direction: row;
  border-top: orange solid 4px;
}
.header .logo-wrapper img {
  max-height: 90%;
}
.header .logo-wrapper .logo{
  font-size: 25pt;
  text-transform: capitalize;
  align-self: center;

}
.logo-wrapper .motto {
  padding-left: 3%;
  margin-left: 2%;
  border-left: grey solid 2px;
  align-self: center;
  margin-right: auto;
}
.header .logo-wrapper h1 {
  text-transform: uppercase;
  font-size: 25;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  color: orange;
}
.header .logo-wrapper h2 {
  font-size: 15;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
}
.menu {
  border-top: grey solid 2px;
  border-bottom: grey solid 2px;
  font-size: 20pt;
  margin: 0;
  list-style:none;
  padding-left:0;
  padding-top: 1%;
  padding-bottom: 1%;
}
.menu li{
  display: inline;
  margin:0;
  padding-right:8%;
}
.menu a {
  text-decoration:none;
}
.menu a:visited {
  color:grey;
}
.menu a:active {
  color:grey;
}



/*  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;

.menu {
  font-size: 20pt;
  margin: 0;
  padding:0;
  list-style:none;
}
.menu li{
  display: inline;
  padding:0;
  padding:10px;
  position:relative;
}
.menu li + li:before {
  content:"";
  background-color: grey;
  width:2px;
  height:5px;
  position:absolute;
  height: 50%;
  bottom: 25%;
  left:-5px;
}
.menu a {
  text-decoration:none;
}*/

.content1 {
  display:flex;
  flex-direction: row;
  margin-top:10px;
}
.content1 .slideshow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left:1%;
  padding-right:1%;
  font-size: 15pt;
  border: grey solid 2px;
}
.content1 .slideshow .slide img {
    width: 60%;
  }
.content1 .slideshow .slide {
  text-align: center;
}
.content1 .slideshow .slide-nav{

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: grey solid 1px;
  border-top: 0;
}
.content1 .general{
    padding-right:1%;
    padding-left:1%;
    background:0;
} 
.content1 .general img {
  max-width: 50%;
}



.footer {
  flex-shrink:0;
  display:flex;
  flex-direction:row;
  justify-content: center;
  padding: 1%;
  
}
.footer .item{
  flex-grow:1;
  background: lightblue;
  border-top: grey solid 2px;
  display: flex;
  flex-direction:row;
  justify-content: center;
}